__pycache__/
*.wav
*.srt
*.zip
temp/
model.pt
pytorch_model.bin
omnivoice/ctc_forced_aligner/model.onnx
models/zh_alignment/*.bin
.DS_Store
whisper-large-v3-turbo/*.safetensors
whisper-large-v3-turbo/*.bin
whisper-large-v3-turbo/*.pt
whisper-large-v3-turbo/*.h5
whisper-large-v3-turbo/*.msgpack

# Results & Documentation
outputs/
MD and LOGS/
MD and LOGS/*.md
MD and LOGS/*.txt

# Results & Documentation
outputs/
MD and LOGS/
