torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers>=4.40.0
accelerate
pydub
gradio<6
tensorboardX
webdataset
numpy<2
soundfile
librosa
pypinyin
unidecode
BeautifulSoup4
lxml
python-dotenv
pytest
tiktoken
sentencepiece
